.view-more-content{
    width: 100%;
    display: inline-block;
}

/* grid  2 column */
.view-more-content-left{
    float: left;
    margin-top: 20px;
    width: 30%;
    min-height: 500px;
    border-right: #c0bdbd 3px solid;
    background-color: white;
}
.view-more-content-right{
    float:right;
    width: 69%;
    height: 650px;
    text-align: left;
    /* can scroll */
    /* overflow-y: scroll; */
}
.user-data-view{
    width: 100%;
    margin: 60px auto;
}
/* if width < 780px, text will be ... */
@media screen and (max-width: 1200px) {
    .user-data-view{
        width: 100%;
        margin: 60px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .user-data-view p{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .user-data-view h3{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}
.user-image-view{
   /* avatar circle */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 2px solid #0066CC;
    margin: 0 auto;
    margin-bottom: 20px;
}
.user-info-view{
    width: 80%;
    margin-left: 10%;
    text-align: left;
}
.user-email-data{
  width: 80%;
}
.right-view-content-grid{
    width: 97%;
    display: inline-block;
    margin-top: 20px;
}
.view-more-content-right-content-left{
    float: left;
    width: 76%;
    min-height: 500px;
    text-align: left;
}
.view-more-content-right-content-right{
    float: right;
    width: 23%;
    min-height: 600px;
    text-align: left;
    border-left: 3px solid #c0bdbd;
}

.date-item{
  width: 100%;
  height: 50px;
}
.date-tab div{
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.date-tab div h3{
  padding-top: 16px;
  margin-left: 20px;
}

.view-more-content-right-content h2{
  height: 50px;
  background-color: #009966;
  color: #f5f5f5;
  padding-left: 10px;
  padding-top: 7px;
}
.view-more-content-right-no-data{
  height: 600px;
  padding-top: 200px;
  text-align: center;
  /* color: #FFCC00; */
}
.date-tab-view-details{
  width: 100%;
  margin-top: 50px;
  text-align: center;
  color: blue;
  cursor: pointer;
}
.date-tab-view-details:hover{
  color: #0066CC;
}
.trans-hash-link{
  color: #f5f5f5;
}
.view-more-content-right-content-right-no-data{
  text-align: center;
}





